html {
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;
}

body {
    margin: 0 auto;
}

* {
    max-width: 100%;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

/* Top of the page Start */
header {
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
}

header h1{
    font-size: 3.5rem;
    /* maybe its too tacky, I can just change it back to solid */
    color: black;
    /* text-shadow: 2px 1px black; */
    margin-bottom: -10px;
}

header p{
    font-size: 1.2rem;
}
/* Top of the page end */

.cellStats{
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 1.5rem;  
    
}

th{
    border: 1px solid black;
}
td{
    padding: 0px 10px 0px 10px;
    border: 1px solid black;

}

/* here is the table, chart, and calendar */
.tableChartButton {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.btcChart {
 width: 400px;
 height: 400px;
}

ol{
    padding-left: 0px;
    width: 40%;
}

.startDate {
    padding-bottom: 30px;
}

form {
    width: 100%;
}

form h2{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 3px;
}

form p{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 3px;
}

#start {
    margin-bottom: 5px;
}


footer {
    font-size: 1.5rem;
    /* border: 1px solid black; */
}

footer a{
    text-decoration: none;
    color: black;
}