<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->

    <link rel="stylesheet" href = "{{ url_for('static', filename='stylesheets/cagr.css') }}">
    <title> BTC CAGR Tool</title>
</head>
<body>
  <header>
    <div class = "h1Container">
      <h1>BTC CAGR TOOL</h1>
      <p> CAGR: Compound Annual Growth Rate.</p>
    </div>
  </header>

<section class = "tableChartButton">
  <div class = tableAndChart>
  <table>
      <tr>
      <th class = "cells">Asset</th>
      <th class = "cells">Start</th>
      <th class = "cells">End</th>
      <th class = "cells">Starting Price</th>
      <th class = "cells">Ending Price</th>
      <th class = "cells">Time Passed (Years)</th>
      <th class = "cells">CAGR</th>
  </tr>
  {% for key, value in x.items() %}
  <tr>
  {%for k, v in value.items()%}
  <td>{{v}}</td>
  {% endfor %}    
  {% endfor %}
  </tr>
  </table>

  <div class = "chartContainer">
      {% for chart in charts%}
  <img src="{{chart}}",  width="400" height="400">
  {% endfor %}
  </div>
  </div>

<div class ="DateRange">
<form action = "/demo" method = "POST" enctype = "multipart/form-data">
    <p> Want to pick your own dates?</p>
    <p>Select CAGR Calculation</p>

      <input type="radio" id="ticker" name="ticker" value="BTC"
             checked>
      <label for="BTC">BTC</label>
    
      <input type="radio" id="ticker" name="ticker" value="ALL">
      <label for="ALL">BTC + GLD + SPY</label>
    
    <ol><le><br>
    Starting Date <input type="date" id="start" name="start"
    value="2010-07-18"
    min="2010-07-18" max="2021-07-18">
</le>
<br>
<le>
Ending Date<input type="date" id="end" name="end"
    value="2021-07-18"
    min="2010-07-15" max="2021-07-18">
</le>
</ol>
       <input class="button-primary" type="submit" value="Submit">
   </form>
</div>
</section>

<footer>
   By: <a href="https://twitter.com/rob1ham">Rob Hamilton</a> <br>
   QA: <a href="https://twitter.com/THEAMERICANHODL">American Hodl</a> &  <a href="https://twitter.com/jaygould">Jay Gould</a> 
</footer>


</body>
</html>